@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark light;
}

html.dark {
  background-color: theme('colors.background.dark');
  color: theme('colors.foreground');
}
